{% extends "inicio/base.html" %}

{% block content %}
    
    <center>
        <h2>Cambiar Contraseña</h2>
    </center>
    <hr>
    <a href="{% url "editar-usuario" pk %}" style="color: red; " >Regresar</a> 
    <br><br>
    {% if correcto %}
        <p style="background: #98D198;">Contraseña Cambiada Correctamente</p>
    {% endif %}
    {% if form %}
        <center>
        <form action="" method="post">{% csrf_token %}
        
        <table border="0" >
            {% if error %}
                <div id="error" style="background: #CE6969;">Contraseña inválida</div>
            {% endif %}
            <div id="error_pass"></div>
            {{ form.as_table }}
            
        </table>
        <div id="confirmar"></div>
        <center>
            <input type="submit" value="Guardar" />
        </center>
        </form>
        </center>
        
    {% endif %}
    
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $("#id_password_dos").change( function(){
            console.log($('#id_password_uno').val());
            console.log($('#id_password_dos').val());
            if ($('#id_password_uno').val() == $('#id_password_dos').val() ) {
                $('#confirmar').html("<span style='color: green;' >ok</span>");
            }
            else{
                $('#confirmar').html("<span style='color: red;' >Las contraseñas no coinciden</span>");
            }
        });
        $("#id_password_uno").change( function(){
            console.log($('#id_password_uno').val());
            console.log($('#id_password_dos').val());
            if ($('#id_password_uno').val() == $('#id_password_dos').val() ) {
                $('#confirmar').html("<span style='color: green;' >ok</span>");
            }
            else{
                $('#confirmar').html("<span style='color: red;' >Las contraseñas no coinciden</span>");
            }
        });
        $("form").submit(function() {
            if ($('#id_password').val()=="") {
                $('#error_pass').html("<span style='color: red;' >· Campo obligatoio</span>")
                return false;
            }
            
            if ($('#id_password_uno').val() != $('#id_password_dos').val() ) {
                $('#confirmar').html("<span style='color: red;' >Las contraseñas no coinciden</span>")
                return false;
            }
            else{
                $('#confirmar').html("<span style='color: green;' >ok</span>")
            }
        });


    </script>
{% endblock %}
