{% extends "inicio/base.html" %}



{% block content %}
    
    <center>
        <h2>Actividad</h2>
    </center>
    <hr>
        
    {% if form %}
        <center>
        <form action="" method="post">{% csrf_token %}
        
        {{ form.as_table }}
        <br><br>
        {% if correo_enviado %}
            <div id="correo_enviado" style="background: #70A370;">
                <strong>Su correo ha sido enviado con éxito</strong>
            </div>
        {% endif %}
        {% if usuario_no_existe %}
            <div id="usuario_no_existe" style="background: #BC5E5C;">
                <strong>Este correo no existe en nuestra Base de Datos</strong>
            </div>
        {% endif %}
        
        <input type="submit" value="Enviar correo" />
            
        </form>
        </center>
    {% else %}
        <center>
        <h3>Usted no posee permiso para entrar a esta sección</h3>
        </center>
    {% endif %}

{% endblock %}
